@import "../../variables.scss";

.camps-container {
  margin: 0 auto 40px;
  width: 1012px;
}

.welcome-section {
  background-color: #f7f2ebe0;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &_text {
    width: 315px;
    color: #000000a8;
  }

  &_search-field {
    padding: 15px 15px;
    border-radius: 4px;
    margin-right: 15px;
    font-size: 14px;
    border: 1px solid #d3d3d3;
  }

  &_add-camp-link {
    color: #00000082;
    text-decoration: underline;
    margin-top: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.camps-section {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;

  &_card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    border: 2px solid #9e9e9e52;
    border-radius: 5px;

    &-pic {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }

    &-title {
      font-size: 18px;
      color: #3c3c3c;
      margin-top: 15px;
    }

    &-description {
      color: #000000a8;
      line-height: 20px;
      display: -webkit-box;
      max-width: 235px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@include tabletAndMobile {
  .camps-container {
    width: 87%;
  }
}

@include mobile {
  h1 {
  }
  .welcome-section {
    align-items: unset;
    padding: 30px 25px;

    &_title {
      line-height: 35px;
      margin-top: 0;
    }

    &_text {
      width: unset;
    }

    &_search {
      display: flex;
      flex-direction: column;

      &-field {
        margin-bottom: 10px;
        margin-right: unset;
      }
    }
  }

  .camps-section {
    margin-top: 40px;
  }
}
