@import "../../variables.scss";

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 45px;

    &-home-page {
      color: rgba(0, 0, 0, 0.6588235294);
      font-size: 17px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: black;
      }
    }
  }

  &_right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;

    &-login {
      color: rgba(0, 0, 0, 0.6588235294);
      font-size: 17px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: black;
      }
    }
    &-hamburger-menu {
      display: none;
    }
  }
}

@include tabletAndMobile {
  .header {
    &_right-side {
      .camp-button {
        display: none;
      }

      &-hamburger-menu {
        display: block;
        background-color: #f7f2ebe0;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .header {
    &_left-side {
      &-home-page {
        display: none;
      }
    }

    &_right-side {
      &-login {
        display: none;
      }
    }
  }
}
